.title {
  text-align: center;
}

.App {
  background: #b5beff;
  height: 100vh;
  padding: 30px;
}

.toDo-list {
  margin: auto;
  width: 50%;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  top:50%;
  opacity:0.8;
  margin-top:50px;
}

.toDo {
  align-items: center;
  border-radius: 10px;
  border-color:black;
  background-color: white;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px 15px;
}

.button {
  background-color: #b5beff; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 8px 8px;
  opacity:80%;
  border-radius: 8px;
}

.submit {
  text-align:center;
  margin-top:20px;
}